@import "tailwindcss";

@keyframes slide-in {
  to {
    transform: translateY(100%);
  }
}

@theme {
  --animate-slide-in: slide-in 3s cubic-bezier(.56,-0.01,.4,1) forwards;
}

@layer utilities {
  .image-part:nth-child(1) {
    background-image: url('../public/image/land-1.webp');
  }
  .image-part:nth-child(2) {
    background-image: url('../public/image/land-2.webp');
    animation-delay: 300ms;
  }
  .image-part:nth-child(3) {
    background-image: url('../public/image/land-3.webp');
    animation-delay: 600ms;
  }
}